#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #111;
  font-family: "Original Surfer", cursive;
}

h1 {
  padding: 0.5rem 1rem;
  border: 6px outset #9a9;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.search-bar,
.party-time {
  min-height: 100vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #444654;
  margin: auto;
  padding: 3rem 2rem 0 2rem;
  gap: 2rem;
  border-radius: 1rem;
}

.search-bar input,
.party-time input {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.4rem;
}

.emoji-results {
  max-width: 18rem;
  padding: 1rem;
  background: #444654;
  border: 6px outset #9a9;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.emoji:hover {
  background-color: #98a998;
  opacity: 80%;
  cursor: pointer;
}

.party-button {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: red;
}

.btn-container {
  position: absolute;
  bottom: -10rem;
  right: 0;
}

.party-time img {
  max-width: 16rem;
  box-shadow: 0px 0px 1px 2px rgb(110, 109, 109);
  animation: party 0.5s infinite;
}

@keyframes party {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
